
body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #6F92FA;
	color: #FFFFFF;
}

table.epgSearchResults
{
   white-space: nowrap;
}

td.epgSearchResults
{
   white-space: nowrap;
   border-style: solid;
   border-width: 1px;   
   padding: 3px;
}

body.MVPbody {
   font-family: Arial, Helvetica, sans-serif;
	background-color: #3333FF;
}

table.areaHeading {
   width: 800px;
   border-style: none;
}

table.scheduletable {
   width: 800px;
   border-style: none;
   border-width: 0px;
}

td.tableheading {
   padding: 2px;
   font-weight: bold;
   color: #FFFFFF;
   text-decoration: none;   
   border-style: none;
}

td.itemheading {
   color: #FFFFFF;
	padding: 2px;
	border: 1px #FFFFFF solid;
	white-space: nowrap;
}
td.itemdata {
   color: #FFFFFF;
	padding: 2px;
	border-style: none;
	border-width: 0px;
	white-space: nowrap;
}

table.systemtable {
   width: 800px;
   border-style: none;
}

td.systemheading {
   font-weight: bold;
   padding: 2px;
   border: #FFFFFF;
   border-style: solid;
   border-width: 1px;
}

td.systemkey {
   font-weight: bold;
   text-align: right;
   padding: 2px;
   padding-right: 10px;
   border-style: none;
   border-width: 1px;
}

td.systemdata {
   background-color: #FFFFFF;
   color: #000000;
   padding: 2px;
   padding-left: 10px;
   border-style: none;
   border-width: 1px;
}

table.calendartable {
   border-style: none;
   border-width: 0px;
}

td.calendarweek {
   color: #FFFFFF;
   padding: 2px;
   border: #000000;
   border-style: none;
   border-width: 1px;
   background-color: #A3BCFF;
   width: 50px;
   font-weight: bold;
   text-align: center;
}

td.calendarday {
	color: #FFFFFF;
	font-size: 16;
   font-weight: bold;	
   padding: 2px;
   border: 1px solid #FFFFFF;
   height: 50px;
   width: 50px;
   vertical-align: top
}

td.calendarToday {
	color: #FFFFFF;
	font-size: 16;
   font-weight: bold;	
   padding: 2px;
   border: 1px solid #FFFFFF;
   height: 50px;
   width: 50px;
   vertical-align: top;
   background-color: #A3BCFF;
}

td.calendarSelected {
   padding-top: 2px;
   padding-right: 2px;
   padding-bottom: 2px;
   padding-left: 2px;
   border: #FF0000;
   border-style: solid;
   border-top-width: 1px;
   border-right-width: 1px;
   border-bottom-width: 1px;
   border-left-width: 1px;
   background-color: #FFAAAA;
   height: 50px; width: 50px;
   vertical-align: top
}

td.calendarTitle {
	border: #000000;
	border-style: solid;
	border-width: 1px;
	background-color: #0000FF;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	padding: 2px;
	text-decoration: none;

}
a.infoNav {
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;

}

span.infoBox {
   position:absolute;
   z-index:1;
   background-color: #FFFFFF;
   border: 1px none #000000;
   visibility: hidden
}

pre.log {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12
}

table.infoTable {
	background-color: #FFFFFF;
	border: 2px none;
}

td.infoBody {
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	border: #CCCCCC;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	font-weight: normal;
	color: #000000;
	background-color: #80DFFF;
}

td.infoHeading {
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	border: #CCCCCC;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #0033FF;
}

span.pageTitle {
	font-size: 24;
   font-weight: bold;
   color: #FFFFFF;
}

span.areaTitle {
   font-weight: bold;
   color: #FFFFFF;
   text-decoration: none;
}

a.noUnder {
   color: #FFFFFF;
   text-decoration: none;
}

span.channelName {
   font-weight: bold
}

table.channelList {
	width: 700px;
	border-style: none;
	padding: 5px;
}

tr.channelHeading {
	font-weight: bold;
	text-decoration: underline;
}

tr.scanChannelResult {
	font-weight: normal;
	border: thin solid #666666;
}

tr.scanChannelHeading {
	font-weight: bold;
	border: thin solid #666666;
}



table.channelScanResult {
	border-style: none;
	border-width: 0px;
	padding: 5px;
}

td.scanChannelHeadingDataName {
	border: none #CCCCCC;
	font-weight: bold;
	padding: 0px;
}

td.scanChannelHeadingData {
	font-weight: bold;
	border: none #CCCCCC;
	padding: 0px;
	width: 80px;
	text-align: center;
}

td.channelInfo {

	border: none #CCCCCC;
	font-weight: normal;
	padding: 0px;
	width: 80px;
	text-align: center;
}

td.channelHeadingName {
	border: none #CCCCCC;
	font-weight: bold;
	padding: 0px;
	width: 80px;
}

td.channelHeading {
	border: none #CCCCCC;
	font-weight: bold;
	padding: 0px;
	width: 80px;
	text-align: center;
}



table.rescanResult {
	border-style: none;
	border-width: 0px;
	padding: 5px;
}
td.rescanName {
	border: none #CCCCCC;
	font-weight: bold;
	padding: 5px;
	width: auto;
	text-align: left;
}
td.rescanResult {
	border: thin solid #00CCFF;
	font-weight: normal;
	padding: 5px;
	width: auto;
	text-align: left;
}


td.guidetime {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14;
	text-align: center;
	vertical-align: top;
	white-space: nowrap;
	font-weight: bold;
	background-color: #FFFFCC;
}

td.guideblock {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12;
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
	padding: 5px;

}
td.guideChannel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14;
	text-align: center;
	vertical-align: top;
	white-space: nowrap;
	font-weight: bold;
	padding: 5px;

}

span.programName {
   font-weight: bold;
   text-decoration: none;
	cursor: pointer; cursor: hand;
}

td.guideTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16;
	text-align: center;
	white-space: nowrap;
	font-weight: bold;
	background-color: #66FFFF;
	padding: 5px;
}


table.MVPscheduletable {
   background-color: #FFFFFF;

   border-style: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px}


td.MVPFormInput {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16;
	width: 100;
	text-align: center;
	white-space: nowrap;
	font-weight: bold;
	background-color: #66FFFF;
	padding: 5px;
}

td.MVPFormInputSelected {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16;
	width: 100;
	text-align: center;
	white-space: nowrap;
	font-weight: bold;
	background-color: #FF6666;
	padding: 5px;
}

table.epgTable {
	FONT: 11px/15px Tahoma, Verdana, Arial, Helvetica;
	margin: 0px;
	padding: 2px;
	border: 0px none #000000;
	table-layout:fixed;
	width:4000px;
}

th.epgTimes {
	padding: 0px 15px 0px 15px;
	BACKGROUND-COLOR: #1221B4;
	border: 1px solid #000000;
}

td.epgChannel {
	padding: 5px 5px 5px 5px;
	BACKGROUND-COLOR: #1221B4;
	border: 1px solid #000000;
}

td.epgBlank {
	padding: 2px 2px 2px 2px;
	BACKGROUND-COLOR: #D5D6FF;
	border: 1px solid #000000;
}

td.epgProgram {
   text-decoration: none;
   font-size: 14;
   BACKGROUND-COLOR: #0038D6;
	padding: 2px;
	border: 1px solid #000000;
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
	overflow:hidden;
	
}

td.epgClear {
	padding: 2px 2px 2px 2px;
	border: 0px none #000000;
}

td.epgSchTitle {
	padding: 2px 2px 2px 5px;
	BACKGROUND-COLOR: #1221B4;
	border: 1px solid #000000;
}

td.epgSchedule {
	padding: 2px 2px 2px 2px;
	BACKGROUND-COLOR: #C321BA;
	border: 1px solid #000000;
}

td.epgScheduleRunning {
	padding: 2px 2px 2px 2px;
	BACKGROUND-COLOR: #FF9999;
	border: 1px solid #000000;
}

span.helpPopup {
    text-decoration: underline;
   font-weight: bold;
   cursor: pointer; cursor: hand;
}

