<html>
<head>
<title>Timer Control</title>
<link rel="stylesheet" href="/css/main.css" type="text/css">
<!--[if lt IE 7.0]>
<script src="/javascript/iepng.js"></script>
<![endif]-->
<script src="/javascript/main.js"></script>
</head>
<body>
<center>
<table>
<tr><td>
<br><br>
<a href="/"><img border='0' src='/images/logo.png' align='absmiddle' width='64' height='64'></a> <span class='pageTitle'> TV Scheduler Pro</span><br>
<br>

<table width='100%' border='0'>

<tr>
<td width="100%"></td>
<td nowrap>
<a href='/servlet/ArchiveDataRes?action=showArchive' class='noUnder'>
<img alt="Back" border=0 src='/images/back.png' align='absmiddle' width='24' height='24'> Back
</a>
</td>
</tr>
<tr>
<td width="100%" nowrap>
<center>
<span class='areaTitle'> Archived Schedule</span>
</center>
</td>
<td nowrap>
<a href='/servlet/ScheduleDataRes?action=16&file=$schedule_file' title="Save all log files to a zip file" class='noUnder'><img alt="send" border=0 src='/images/export.png' align='absmiddle' width='24' height='24'> Save Logs</a>
</td>
</tr>

</table>

$info

<br>
<br>

</td></tr>
</table>
</body>
</html>