<html>
<head>
<title>Timer Control</title>
<link rel="stylesheet" href="/css/main.css" type="text/css">
<!--[if lt IE 7.0]>
<script src="/javascript/iepng.js"></script>
<![endif]-->
<script src="/javascript/main.js"></script>
</head>
<body>
<center>
<br><br>
<a href="/"><img border='0' src='/images/logo.png' align='absmiddle' width='64' height='64'></a> <span class='pageTitle'> TV Scheduler Pro</span><br>
<br>
<a href='/settings.html' class="noUnder"> <img border=0 src='/images/back.png' align='absmiddle' width='24' height='24'> 
<span class="areaTitle">System Index</span></a> 
<p><strong>System Auto Deletable Files</strong>
<table width="80%" "border="0" cellspacing="5" cellpadding="5">
  <tr>
    <td class="itemheading"><strong>Date Added</strong></td>
    <td class="itemheading"><strong>File Name</strong></td>
	<td class="itemheading"><strong>Keep For</strong></td>
    <td class="itemheading"><strong>Action</strong></td>
  </tr>
  $itemList
</table>
<p>
<table border="0" cellspacing="5" cellpadding="5">
  <tr>
    <td class="itemheading"> <strong>System Auto Delete Session Log:</strong><br>
     </tr>
	 <td>
	$autoDelLog
	 </tr>
  </tr>
</table>

</body>
</html>