<html>
<head>
<title>Timer Control</title>
<link rel="stylesheet" href="/css/main.css" type="text/css">
<!--[if lt IE 7.0]>
<script src="/javascript/iepng.js"></script>
<![endif]-->
<script src="/javascript/main.js"></script>
</head>
<body>
<center>
<br><br>
<a href="/"><img border='0' src='/images/logo.png' align='absmiddle' width='64' height='64'></a> <span class='pageTitle'> TV Scheduler Pro</span><br>
<br>

<a href='$backURL$' class="noUnder"> <img border=0 src='/images/back.png' align='absmiddle' width='24' height='24'> 
Back To Files </a> 
<p><strong>Task to run on file ($filename)</strong><p>
<table width='300' border="0" cellspacing="4" cellpadding="4">
  
  $commandList
  
</table>
<p>For more information on the above Tasks see the <strong>[<a class="noUnder" href='/servlet/SystemDataRes?action=08'>Task Setup Page</a>]</strong><p>

</body>
</html>