<html>
<head>
<title>$title</title>
<link rel="stylesheet" href="/css/main.css" type="text/css">
<!--[if lt IE 7.0]>
<script src="/javascript/iepng.js"></script>
<![endif]-->
<script src="/javascript/main.js"></script>
</head>
<body>
<center>
<br><br>
<a href="/"><img border='0' src='/images/logo.png' align='absmiddle' width='64' height='64'></a> <span class='pageTitle'> TV Scheduler Pro</span><br>
<br>
<br>
<a href='/' class="noUnder">
<img border=0 src='/images/back.png' align='absmiddle' width='24' height='24'>
<span class='areaTitle'>Home</span>
</a>
<p>

<table width="300" border="0" cellspacing="2" cellpadding="2">
<tr><td style="border: 1px solid #FFFFFF;">
<b>$title</b>
</td></tr>

<tr><td>
<p align='right'><strong><a href="/servlet/EpgAutoAddDataRes?action=33" class='noUnder'>Edit Watch List</a></strong></p>
</td></tr>

<tr><td align="center">
$list
</td></tr>

</table>

</body>
</html>