<html>
<head>
<title>Timer Control</title>
<link rel="stylesheet" href="/css/main.css" type="text/css">
<!--[if lt IE 7.0]>
<script src="/javascript/iepng.js"></script>
<![endif]-->
<script src="/javascript/main.js"></script>

<script>

function showMatchListMatches(url)
{
   window.opener.location.href = url;//window.opener.location.href;
   window.close();
}

function addItem(url)
{
   window.opener.location.href = url;//window.opener.location.href;
   window.close();
}

function doSearch(url)
{
   if(confirm("Are you sure you want to add an Auto-Add item based on this show?"))
   {
      window.opener.location.href = url;
      window.close();
   }
}

</script>

</head>
<body>

$details

</body>
</html>