<html>
<head>
<title>$title</title>
<link rel="stylesheet" href="/css/main.css" type="text/css">
<!--[if lt IE 7.0]>
<script src="/javascript/iepng.js"></script>
<![endif]-->
<script src="/javascript/main.js"></script>
<script>
var usingCAPTCHA = $usingCAPTCHA$;
function checkID()
{
   if(usingCAPTCHA == true && document.settings.sessionID.value.length != 6)
   {
      alert("Please enter the security ID at the bottom of the form!");
      return false;
   }
   else
    return true;
}
function setSecurityImage()
{
   if(usingCAPTCHA == true)
   {
      var captchaSpan = document.getElementById("captcha");
      if(captchaSpan)
      {
         captchaSpan.style.visibility = "visible";
      }
         
      var thisDate = new Date();
      var securityImageURL = "/servlet/ImageDataRes?sessionID=1&time=" + thisDate.toGMTString();
      var image = document.getElementById("SecurityImage");
      if(image)
      {
         image.src = securityImageURL;
         setTimeout("setSecurityImage();", 180000);
      }
   }
}
</script>
</head>
</head>
<body onLoad="setSecurityImage();" onpageshow="if (event.persisted) setSecurityImage();">
<center>
<br><br>
<a href="/"><img border='0' src='/images/logo.png' align='absmiddle' width='64' height='64'></a> <span class='pageTitle'> TV Scheduler Pro</span><br>

<table border="0" cellspacing="5" cellpadding="5">

<tr>
<td valign="bottom" colspan='1'>
<span class='areaTitle'> $title</span>
</td>

<td align="right" colspan='1'>
<table border=0>

<tr>
<td>
<a href='/settings.html' class='noUnder'>
<img alt="Home" border=0 src='/images/back.png' align='absmiddle' width='24' height='24'>
<span class='areaTitle'>System Index</span></a>
</td>
</tr>

</table>
</td>
</tr>

<tr> 
<td colspan="2" align="right">

<form action="$action" method="POST" name="settings" onSubmit="return checkID();" accept-charset="UTF-8">
Replace or Append
<select name="data_action">
<option value="replace">Replace</option>
<option value="append">Append</option>
</select>
<br>
<textarea name="data" cols="90" rows="25">
</textarea>
<br>
<br>
<input type="submit" value="Submit">
<br>
<br>
<span id="captcha" style="visibility:hidden;">Security ID <input type="text" size="6" maxlength="6" name="sessionID" value=""> <img id='SecurityImage' align='absmiddle' src='/images/secure-blank.png'> <img style='cursor:hand;cursor:pointer;' border=0 src='/images/help.png' alt='help' align='absmiddle' onClick="showHelp('security.captcha');" width='24' height='24'></span>

</form>
</td>
</tr>

</table>

<br><br><br>

</body>
</html>