<html>
<head>
<title>Timer Control</title>
<link rel="stylesheet" href="/css/main.css" type="text/css">
<!--[if lt IE 7.0]>
<script src="/javascript/iepng.js"></script>
<![endif]-->
<script src="/javascript/main.js"></script>
</head>
<body>
<center>
<table>
<tr><td>
<br><br>
<a href="/"><img border='0' src='/images/logo.png' align='absmiddle' width='64' height='64'></a> <span class='pageTitle'> TV Scheduler Pro</span><br>
<br>

<table width='100%' border='0'>
<tr>
<td width="50%" valign="bottom">
<center>
<span class='areaTitle'> Schedule Information</span>
</center>
</td>

<td width="50%" align="right">
<table>
<tr>
<td>
<a href='/servlet/ScheduleDataRes' title="Back to schedule list" class='noUnder'><img alt="Back" border=0 src='/images/back.png' align='absmiddle' width='24' height='24'> Back</a>
</td>
</tr>
<tr>
<td>
<a href='/servlet/ScheduleDataRes?action=15&id=$schedule_id' title="Save all log files to a zip file" class='noUnder'><img alt="send" border=0 src='/images/export.png' align='absmiddle' width='24' height='24'> Save Logs</a>
</td>
</tr>
</table>
</td>

</tr>
</table>

$info


<br>
<br>

</td></tr>
</table>
</body>
</html>