<html>
<head>
<title>Timer Control</title>
<link rel="stylesheet" href="/css/main.css" type="text/css">
<!--[if lt IE 7.0]>
<script src="/javascript/iepng.js"></script>
<![endif]-->
<script src="/javascript/main.js"></script>
</head>
<body>
<center>
<br><br>
<a href="/"><img border='0' src='/images/logo.png' align='absmiddle' width='64' height='64'></a> <span class='pageTitle'> TV Scheduler Pro</span><br>
<br>
<a href='/servlet/TaskManagementDataRes' class="noUnder"> <img border=0 src='/images/back.png' align='absmiddle' width='24' height='24'> 
Back to Task List</a> 
<p><strong>Task Output</strong>
<table border="0" cellspacing="2" cellpadding="2">
<tr><td><b>Current Status</b></td></tr>
<tr><td><pre>$taskControl</pre></td></tr>
<tr><td><b>Application Standard Output</b></td></tr>
<tr><td><pre>$taskOutput</pre></td></tr>
<tr><td><b>Application Error Output</b></td></tr>
<tr><td><pre>$taskError</pre></td></tr>
</table>
<p>
</body>
</html>